<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">    
            <h2 class="mb-4">Contratar módulo</h2>    

            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="card">
                        <div class="card-header d-flex align-items-center justify-content-center" [style.background-color]="bgColors[modulo?.id_tipo_modulo]">
                            {{ modulo?.tipo_modulo.descricao }}
                        </div>
                        <img class="card-img-top" src="assets/img/{{ modulo?.icon }}" height="140">                  
                    </div>    
                </div>
                <div class="col">
                  <h5>{{ modulo?.titulo }}</h5>

                  <div class="row mt-3">
                      <div class="col">
                        {{ modulo?.forma_pagamento }}
                      </div>
                  </div>
                  <div class="row mt-4">
                      <div class="col">                        
                        <div *ngIf="!modulo.modulo_ativo">
                            <a class="btn btn-success" (click)="alteraStatus(0)">
                                Contratar e ativar módulo
                            </a>
                        </div>
        
                        <div *ngIf="modulo.modulo_ativo?.id_status == 2">
                            <a class="btn btn-success" (click)="alteraStatus(1)">
                                Ativar
                            </a>                    
                        </div>
                        
                        <div *ngIf="modulo.modulo_ativo?.id_status == 1">
                            <a class="btn btn-success" (click)="alteraStatus(2)">
                                Desativar
                            </a>                    
                        </div>                          
                      </div>
                  </div>
                </div>              
            </div>   
            
            <h5 class="mt-4">Sobre o módulo</h5>

            <p>{{ modulo?.descricao }}</p>

            <a class="btn btn-primary" [routerLink]="['/']">
                Voltar
            </a>      
        </div>
    </div>
</div>
