.card {
    float: left;
    margin-left: 4px;
}

.card-header {
    height: 2rem;
    background-color: #0073e6;
    color: white;
    text-transform: uppercase;
}

.btn {
    color: white !important;
}
