<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">           
            <div class="card mt-2" *ngFor="let modulo of modulos">
                <div class="card-header d-flex align-items-center justify-content-center" [style.background-color]="bgColors[modulo.id_tipo_modulo]">
                    {{ modulo.tipo_modulo.descricao }}
                </div>
                <div class="container-modulo" [routerLink]="['/detalhe-modulo', modulo.id]">
                    <img class="card-img-top" src="assets/img/{{ modulo.icon }}" width="174">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ modulo.titulo }}</h5>
                        <p class="card-text flex">
                            {{ modulo.forma_pagamento }}
                        </p>
                    </div>
                </div>    

                <div class="text-center mt-auto mb-3">
                    <div *ngIf="!modulo.modulo_ativo">
                        <a class="btn btn-success" (click)="alteraStatus($event, modulo.id)">Contratar</a>
                    </div>

                    <div *ngIf="modulo.modulo_ativo?.id_status == 2">   
                        <a class="btn btn-success" (click)="alteraStatus($event, modulo.id)">Ativar</a>                    
                    </div>
                    
                    <div *ngIf="modulo.modulo_ativo?.id_status == 1">
                        <a class="btn btn-success" (click)="alteraStatus($event, modulo.id)">Desativar</a>                    
                    </div>
                </div>
            </div>           
        </div>
    </div>
</div>   