.card {
    width: 11rem; 
    height: 23rem;
    float: left;
    margin-left: 4px;
}

.card-header {
    height: 2rem;
    background-color: #0073e6;
    color: white;
    text-transform: uppercase;
}

.card-body {
    text-align: center;
    padding: 5px;
    padding-top: 10px;
}

.container-modulo {
    cursor: pointer;
}

.btn {
    color: white !important;
}
